button, div {
  display: block;
  margin: 30px 5px;
  border: none;
  font-family: Arial;
}

.bootstrap-button, .linkedin-button, .div-button {
  display: inline;
}

.uber-button{
  background-color: black;
  color: white;
  padding: 15px;
  font-weight: bold;
}

.amazon-button {
  background-color: rgb(255, 216, 20);
  padding: 10px 50px;
  border-radius: 20px;
}

.github-button {
  background-color: rgb(46, 164, 79);
  color: white;
  padding: 18px 32px;
  border-radius: 10px;
  font-weight: bold;
}

.bootstrap-button {
  padding: 18px 32px;
  border-radius: 10px;
  font-weight: bold;
}

.start-button {
  color: white;
  background-color: rgb(121, 82, 179);
}

.download-button {
  background-color: white;
  color: rgb(108, 117, 125);
  border: 1px solid rgb(108, 117, 125);
}

.linkedin-button {
  padding: 15px 25px;
  font-weight: bold;
  border-radius: 20px;
}

.apply-button {
  background-color: rgb(10, 102, 194);
  color: white;
}

.save-button {
  border: 1px solid rgb(10, 102, 194);
  color: rgb(10, 102, 194);
  background-color: white;
}

.nike-text {
  font-size: 20px;
  font-weight: bold;
  margin: 40px 0px;
}

.div-button {
  margin: 5px 0px;
  padding: 10px 30px;
  border-radius: 20px;
  font-weight: bold;
}

.cart-button {
  background-color: rgb(255, 216, 20);
}

.buy-button {
  background-color: rgb(255, 164, 28);
}