button, div {
  display: block;
  margin: 30px 5px;
  border: none;
  font-family: Arial;
  cursor: pointer;
}

.bootstrap-button, .linkedin-button, .div-button {
  display: inline;
}

.uber-button{
  background-color: black;
  color: white;
  padding: 15px;
  font-weight: bold;
}
.uber-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.amazon-button {
  background-color: rgb(255, 216, 20);
  padding: 10px 50px;
  border-radius: 20px;
}

.amazon-button:hover {
  background-color: rgb(234, 198, 16);
}

.github-button {
  background-color: rgb(46, 164, 79);
  color: white;
  padding: 18px 32px;
  border-radius: 10px;
  font-weight: bold;
  transition: box-shadow 0.15s;
}

.github-button:hover {
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.2);
}

.bootstrap-button {
  padding: 18px 32px;
  border-radius: 10px;
  font-weight: bold;
}

.start-button {
  color: white;
  background-color: rgb(121, 82, 179);
}
.start-button:hover {
  background-color: rgb(109, 73, 162);
}

.download-button {
  background-color: white;
  color: rgb(108, 117, 125);
  border: 1px solid rgb(108, 117, 125);
}

.download-button:hover {
  background-color: rgb(108, 117, 125);
  color: white;
}

.linkedin-button {
  padding: 15px 25px;
  font-weight: bold;
  border-radius: 20px;
}

.apply-button {
  background-color: rgb(10, 102, 194);
  color: white;
}
.apply-button:hover {
  background-color: rgb(8, 79, 149);
}

.save-button {
  border: 1px solid rgb(10, 102, 194);
  color: rgb(10, 102, 194);
  background-color: white;
}
.save-button:hover {
  background-color: rgba(10, 102, 194, 0.1);
  border: 2px solid rgb(10, 102, 194);
}