.deal-text {
  font-family: Arial;
  font-weight: bold;
  margin-bottom: 0px;
  font-size: 25px;
  margin-top: 50px;
}

.red-text {
  font-family: Arial;
  color: red;
  margin-top: 0px;
  font-style: italic;
  margin-bottom: 50px;
}

.div-container {
  font-family: Verdana;
  margin-bottom: 50px;
}

.course-title{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0px;
}

.gray-text {
  color: gray;
  margin-top: 0px;
}

.get-started-button {
  border: none;
  background-color: green;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
}

.apple-container {
  font-family: Arial;
  text-align: center;
  margin-bottom: 100px;
}
.apple-title {
  font-size: 25px;
  font-weight: bold;
}
.blue-text {
  color: blue;
}

.macbook-container {
  font-family: Arial;
  text-align: center;
  margin-bottom: 100px;
}
.orange-text {
  font-size: 15px;
  color: orange;
  font-weight: bold;
  margin-bottom: 0px;
}
.macbook-name {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}
.macbook-cons{
  font-size: 40px;
  margin: 0px;
  font-weight: bold;
}
.macbook-button {
  background-color: rgb(43, 86, 168);
  color: white;
  border: none;
  border-radius: 15px;
  padding: 5px 15px;
}

.stock-container {
  font-family: arial;
  margin-bottom: 50px;
  line-height: 10px;
}
.stock-price {
  font-size: 35px;
}