form {
  background: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  display: inline-block;
}

input, button {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
}

input[type="date"] {
  cursor: pointer;
}

div { 
  margin-top: "15px";
  font-weight: bold;
}